<a href="/store/index.html" class="nav-item active" data-page="menu">
  <i class="fa-solid fa-utensils"></i>
  <span>Menú</span>
</a>
<a href="/marketplace/index.html" class="nav-item" data-page="market">
  <i class="fa-solid fa-shop"></i>
  <span>Market</span>
</a>
<a href="/pedidos/index.html" class="nav-item" data-page="pedidos">
  <i class="fa-solid fa-clock-rotate-left"></i>
  <span>Pedidos</span>
</a>
<a href="/perfil/index.html" class="nav-item" data-page="perfil">
  <i class="fa-solid fa-user"></i>
  <span>Perfil</span>
</a>
