<div class="header-content">
  <div class="brand-section">
    <span class="logo-txt">TuCampus</span>
    <nav class="web-nav">
      <a href="/store/index.html">Menú</a>
      <a href="/marketplace/index.html">Marketplace</a>
      <a href="/pedidos/index.html">Pedidos</a>
      <a href="/perfil/index.html">Perfil</a>
    </nav>
  </div>
  <div class="header-actions">
    <button class="icon-btn" onclick="toggleTheme()">
      <i class="fa-solid fa-circle-half-stroke"></i>
    </button>

    <div class="cart-icon-wrapper">
      <i class="fa-solid fa-cart-shopping"></i>
      <span class="badge">0</span>
    </div>

    <a href="/perfil/index.html" style="text-decoration: none; color: inherit">
      <div class="user-avatar-circle">
        <i class="fa-solid fa-user"></i>
      </div>
    </a>
  </div>
</div>
